In [1]:
import pandas as pd

In [11]:
#### load lookup tables
df = pd.read_csv('./data/location_ref/IP2LOCATION-COUNTRY-MULTILINGUAL.csv')
df = df[df['LANG_NAME'] == 'ENGLISH']

df.tail()

,LANG,LANG_NAME,COUNTRY_ALPHA2_CODE,COUNTRY_ALPHA3_CODE,COUNTRY_NUMERIC_CODE,COUNTRY_NAME
3979,EN,ENGLISH,YE,YEM,887,Yemen
3980,EN,ENGLISH,YT,MYT,175,Mayotte
3981,EN,ENGLISH,ZA,ZAF,710,South Africa
3982,EN,ENGLISH,ZM,ZMB,894,Zambia
3983,EN,ENGLISH,ZW,ZWE,716,Zimbabwe

In [13]:
df['COUNTRY_NAME']= df['COUNTRY_NAME'].str.lower()
df.shape

(249, 6)

In [14]:
df['COUNTRY_NAME'] = df['COUNTRY_NAME'].replace('united kingdom of great britain and northern ireland', 'united kingdom')
df['COUNTRY_NAME'] = df['COUNTRY_NAME'].replace('united states of america', 'united states')

UK_row = df[(df['COUNTRY_ALPHA2_CODE']== 'GB')& (df['LANG']== 'EN')]
UK_row['COUNTRY_NAME'] = UK_row['COUNTRY_NAME'].replace('united kingdom', 'UK')

US_row = df[(df['COUNTRY_ALPHA2_CODE']== 'US')& (df['LANG']== 'EN')]
US_row['COUNTRY_NAME'] = US_row['COUNTRY_NAME'].replace('united states', 'US')

US_row2 = df[(df['COUNTRY_ALPHA2_CODE']== 'US')& (df['LANG']== 'EN')]
US_row2['COUNTRY_NAME'] = US_row2['COUNTRY_NAME'].replace('united states', 'USA')

df2 = df.append([UK_row, US_row, US_row2])

/Users/lara/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/lara/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/lara/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [15]:
df2.reset_index(inplace=True)
df2.tail()

,index,LANG,LANG_NAME,COUNTRY_ALPHA2_CODE,COUNTRY_ALPHA3_CODE,COUNTRY_NUMERIC_CODE,COUNTRY_NAME
247,3982,EN,ENGLISH,ZM,ZMB,894,zambia
248,3983,EN,ENGLISH,ZW,ZWE,716,zimbabwe
249,3811,EN,ENGLISH,GB,GBR,826,UK
250,3967,EN,ENGLISH,US,USA,840,US
251,3967,EN,ENGLISH,US,USA,840,USA

In [16]:
df2.shape

(252, 7)

In [17]:
df2.to_csv('./data/location_ref/countrycode_countryname_en.csv')