In [32]:
import pandas as pd

In [34]:
#### load lookup tables
df_country = pd.read_csv('./data/location_ref/pre_country_multilingu_countrycode_countrycoord.csv', index_col=0)
df_country.tail()

,LANG,LANG_NAME,COUNTRY_ALPHA2_CODE,COUNTRY_NAME,country_lat_3857,country_long_3857,country_lat_long_3857
13740,zh-tw,CHINESE TRADITIONAL,WS,薩摩亞,-14.000000,-172.000000,"-14.0,-172.0"
13741,zh-tw,CHINESE TRADITIONAL,YE,也門,15.500000,48.000000,"15.5,48.0"
13742,zh-tw,CHINESE TRADITIONAL,YT,馬約特,-12.843056,45.138333,"-12.843055555,45.138333333"
13743,zh-tw,CHINESE TRADITIONAL,ZM,贊比亞,-14.000000,28.000000,"-14.0,28.0"
13744,zh-tw,CHINESE TRADITIONAL,ZW,津巴布韋,-19.000000,30.000000,"-19.0,30.0"

In [24]:
df_country['COUNTRY_NAME'] = df_country['COUNTRY_NAME'].replace('united kingdom of great britain and northern ireland', 'united kingdom')
df_country['COUNTRY_NAME'] = df_country['COUNTRY_NAME'].replace('united states of america', 'united states')
df_country['COUNTRY_NAME'] = df_country['COUNTRY_NAME'].replace('vereinigte staaten von amerika', 'USA')
df_country['COUNTRY_NAME'] = df_country['COUNTRY_NAME'].replace('vereinigtes königreich großbritannien und nordirland', 'großbritannien')

UK_row = df_country[(df_country['COUNTRY_ALPHA2_CODE']== 'GB')& (df_country['LANG']== 'en')]
UK_row['COUNTRY_NAME'] = UK_row['COUNTRY_NAME'].replace('united kingdom', 'UK')

US_row = df_country[(df_country['COUNTRY_ALPHA2_CODE']== 'US')& (df_country['LANG']== 'en')]
US_row['COUNTRY_NAME'] = US_row['COUNTRY_NAME'].replace('united states', 'US')

US_row2 = df_country[(df_country['COUNTRY_ALPHA2_CODE']== 'US')& (df_country['LANG']== 'en')]
US_row2['COUNTRY_NAME'] = US_row2['COUNTRY_NAME'].replace('united states', 'USA')

df_country2 = df_country.append([UK_row, US_row, US_row2])

/Users/lara/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/Users/lara/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/lara/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [41]:
df_country2.head()
df_country2 = df_country2.drop(columns='level_0')
df_country2.tail(5)

KeyError: "['level_0'] not found in axis"

In [38]:
df_country2[(df_country2['COUNTRY_ALPHA2_CODE']== 'GB')& (df_country2['LANG']== 'de')]

,LANG,LANG_NAME,COUNTRY_ALPHA2_CODE,COUNTRY_NAME,country_lat_3857,country_long_3857,country_lat_long_3857
2623,de,GERMAN,GB,großbritannien,54.6,-2.0,"54.6,-2.0"

In [39]:
df_country2.to_csv('./data/location_ref/country_multilingu_countrycode_countrycoord.csv')

In [40]:
df_test = pd.read_csv('./data/location_ref/country_multilingu_countrycode_countrycoord.csv', index_col=0)
df_test.tail()

,LANG,LANG_NAME,COUNTRY_ALPHA2_CODE,COUNTRY_NAME,country_lat_3857,country_long_3857,country_lat_long_3857
13385,zh-tw,CHINESE TRADITIONAL,ZM,贊比亞,-14.000000,28.0000,"-14.0,28.0"
13386,zh-tw,CHINESE TRADITIONAL,ZW,津巴布韋,-19.000000,30.0000,"-19.0,30.0"
13387,en,ENGLISH,GB,UK,54.600000,-2.0000,"54.6,-2.0"
13388,en,ENGLISH,US,US,39.828175,-98.5795,"39.828175,-98.5795"
13389,en,ENGLISH,US,USA,39.828175,-98.5795,"39.828175,-98.5795"