In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('./data/location_ref/citynamemulti_councode_cityco_citypop.csv', dtype={'cityCoords': str },index_col=0)

/Users/lara/anaconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [15]:
user_locs = ['Shenzhen',
 'London',
 'Espa√±a',
 'Hong Kong',
 'ËäùÊµúÈ´òÊ†°Ê∫ñËªç‰∫ãÁµÑÁπîÁ†îÁ©∂ÂêåÂ•Ω‰ºö',
 'Illinois, USA',
 'Illinois, USA',
 'Osaka‚ÜíNara‚ÜíChiba(Tokyo)',
 'Wherever threads are written..',
 'Paris (France)',
 'All over the world',
 'Worldwide',
 'Bastille, Paris',
 'T√ºrkiye',
 'Espa√±a',
 'El globo terr√°queo',
 'Bengaluru, India',
 'Japan',
 'Nairobi, Kenya',
 'London',
 'Port de Jaffa, Israel',
 'kursusutarih@gmail.com ',
 'Espa√±a',
 'Espa√±a',
 'New Delhi, India',
 'Rome',
 'Buenos Aires, Argentina',
 'Qatar',
 'Porto Alegre',
 'Worldwide',
 'Worldwide',
 'Worldwide',
 'New England',
 'M√©xico, D.F.',
 'M√©xico',
 'Indonesia, Jakarta',
 'Outside the Bubble...',
 'San Salvador, El Salvador',
 'San Salvador, El Salvador',
 'London, UK',
 'Base del Comando Gral. Cocol√≠.',
 'Nashville, TN  USA',
 'Sede Centrale - ROMA',
 'C√≥rdoba, Argentina',
 'Mendoza - Argentina',
 'Distrito Federal, M√©xico',
 'Beirut, L√≠bano',
 'Beirut, L√≠bano',
 'New York, NY',
 'Panama',
 'Colombia',
 'Africa',
 'Africa',
 'Ciudad Universitaria, M√©xico',
 'Venezuela',
 'Canada',
 'Lima, Per√∫',
 'Winnipeg, MB',
 'New York, NY',
 'Washington, DC',
 'Madison Heights, MI',
 'Nicaragua',
 'Israel',
 'Chicago',
 'Venezuela',
 'Venezuela',
 'South Africa',
 'Ecuador',
 'New York, NY',
 'Ecuador',
 'Quito - Ecuador',
 'Miami, Florida',
 'Maracaibo',
 'Georgia, USA',
 '#PER√ö / EUROPA / #ASIA / LatAm',
 'Am√©rica',
 'Am√©rica',
 'Am√©rica',
 'Kenya',
 'Caracas, Venezuela',
 'Venezuela',
 'Phoenix, AZ',
 'Argentina',
 'M√©xico, Distrito Federal',
 'Venezuela',
 'Charleston, SC',
 '44 Frid St., Hamilton, Ontario, Canada',
 'Texas, USA',
 'Accra, Ghana',
 'Brasil',
 'Camp, Yuc, QRoo',
 'London, UK',
 'In Exile',
 'Venezuela',
 'Venezuela',
 'Communication Centre Nairobi',
 'Palmerah, Jakarta',
 'üá∫üá∏ United States',
 "WE SEE YOU! WE HEAR YOU! YOU EVIL SICK BASTARDS ARE STUPID!!!  No, I'm not associated with any Paytriot accounts claiming to be a connection",
 'Republica Dominicana']

In [14]:
df.head()

  language cityLabel alpha2Code                    cityCoords population
0       nn    Trnava         SK  Point(17.586211111 48.37775)      65382
1       pl    Trnawa         SK  Point(17.586211111 48.37775)      65382
2       ps    ÿ™ÿ±ŸÜÿßŸàÿß         SK  Point(17.586211111 48.37775)      65382
3       ro    Trnava         SK  Point(17.586211111 48.37775)      65382
4      rue   –¢—ã—Ä–Ω–∞–≤–∞         SK  Point(17.586211111 48.37775)      65382

In [17]:
user_locs[6]

'Illinois, USA'

In [ ]:
for cityname in s:
    found_city = user_locs_s[user_locs_s.str.contains(cityname)].values
    if found_city.size > 0:
        print(s[s==cityname].index.values[0])
#         print(cityname.index)